.container1{
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(1.jpg);
        height:100vh;
		top:3%;
        background-size:cover;
        background-position:center;
    }
	#title{
		background-color: #fff;
		color: grey;
		margin-bottom: 1rem;
    }
	.rawlogo{
		margin:auto;
    }
	.main{
		font-family: "Montserrat-Bold";
		color:#fff;
		font-size:2em;
		padding-top:20px;
	}
	.foot{
		color:#fff;
		font-size:1em;
		margin-top:30px;
	}
	.click{
		padding-bottom:10px;
	}